// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create-licence-home{
  float: right;
}
.search-items-container{
  margin: 10px 50px;
}
.welcome {
  padding: 50px 70px;
  background-color: #DDDDDD;
  border: 3px solid #202126;
  margin: 10px 50px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 0 #FFFFFF inset;
}
#part_object{
  height: 70px;
  margin-bottom: 20px;
}
.auto_search_complete{
  width: 180px;
}
.search-items-container .btn{
  vertical-align: top;
}
.txt-area-small{
  height: 50px;
}